#cloud-config
write_files:
    # Set ssh public key
-   path: /etc/ssh/.ssh/authorized_key/ubuntu
    owner: root:root
    permissions: '0644'
    encoding: 'base64'
    content: |
      ${base64encode(file("${path_module}/files/private/ubuntu_rsa.pub"))}

    # Set sshd config files
-   path: /etc/ssh/sshd_config
    owner: root:root
    permissions: '0644'
    encoding: 'base64'
    content: |
      ${base64encode(file("${path_module}/files/ssh-daemon/sshd_config"))}

    # Ser authorized principles
-   path: /etc/ssh/authorized_principles/ubuntu
    owner: root:root
    permissions: '0644'
    encoding: 'base64'
    content: |
      ${base64encode(file("${path_module}/files/ssh-daemon/ubuntu"))}

runcmd:
 - [ service, ssh, restart ]
