#cloud-config
write_files:
    # Set ssh public key
-   path: /home/ubuntu/.ssh/authorized_keys
    owner: ubuntu:ubuntu
    permissions: '0600'
    encoding: 'base64'
    content: |
      ${base64encode(file("${path_module}/files/private/ubuntu_rsa.pub"))}

#     # Set sshd config files
-   path: /etc/ssh/sshd_config
    owner: root:root
    permissions: '0644'
    encoding: 'base64'
    content: |
      ${base64encode(file("${path_module}/files/ssh-daemon/sshd_config"))}

    # Ser authorized principles
-   path: /home/ubuntu/authorized_principles
    owner: root:root
    permissions: '0644'
    encoding: 'base64'
    content: |
      ${base64encode(file("${path_module}/files/ssh-daemon/ubuntu"))}

runcmd:
 - [ systemctl, restart, ssh ]
